<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="epicro.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<userSettings>
        <epicro.Properties.Settings>
                <setting name="Roi_Q" serializeAs="String">
                        <value />
                </setting>
                <setting name="Roi_W" serializeAs="String">
                        <value />
                </setting>
                <setting name="Roi_E" serializeAs="String">
                        <value />
                </setting>
                <setting name="Roi_R" serializeAs="String">
                        <value />
                </setting>
                <setting name="Roi_A" serializeAs="String">
                        <value />
                </setting>
                <setting name="HeroNum" serializeAs="String">
                        <value>0</value>
                </setting>
                <setting name="BagNum" serializeAs="String">
                        <value>0</value>
                </setting>
                <setting name="BeltNum" serializeAs="String">
                        <value />
                </setting>
                <setting name="BeltSpeed" serializeAs="String">
                        <value>0.4</value>
                </setting>
                <setting name="Roi_Gold" serializeAs="String">
                        <value />
                </setting>
                <setting name="Roi_Tree" serializeAs="String">
                        <value />
                </setting>
                <setting name="BossZone" serializeAs="String">
                        <value />
                </setting>
                <setting name="SelectedROI" serializeAs="String">
                        <value />
                </setting>
                <setting name="BossOrder" serializeAs="String">
                        <value />
                </setting>
                <setting name="SaveEnabled" serializeAs="String">
                        <value>False</value>
                </setting>
                <setting name="PickupEnabled" serializeAs="String">
                        <value>False</value>
                </setting>
                <setting name="HeroSelectEnabled" serializeAs="String">
                        <value>False</value>
                </setting>
                <setting name="TextColor1" serializeAs="String">
                        <value />
                </setting>
                <setting name="TextColor2" serializeAs="String">
                        <value />
                </setting>
                <setting name="TextColor3" serializeAs="String">
                        <value />
                </setting>
                <setting name="TextRange1" serializeAs="String">
                        <value>0</value>
                </setting>
                <setting name="TextRange2" serializeAs="String">
                        <value>0</value>
                </setting>
                <setting name="TextRange3" serializeAs="String">
                        <value>0</value>
                </setting>
                <setting name="BackgroundColor" serializeAs="String">
                        <value />
                </setting>
                <setting name="TelegramChatIds" serializeAs="String">
                        <value />
                </setting>
                <setting name="TelegramEnabled" serializeAs="String">
                        <value>True</value>
                </setting>
        </epicro.Properties.Settings>
    </userSettings>
</configuration>